body {
    display: flex;
    justify-content: center;
    align-self: flex-start;
    font-family: 'Raleway', sans-serif;
}

.heading-container {
    display: flex;
    justify-content: center;
    align-items: center;
    color: #ff2842;
    letter-spacing: 5px;
}

.calc-body {
    display: flex;
    flex-direction: column;
    justify-content: center;
    border-top: 2px solid #41485c;
    border-right: 4px solid #2f374d;
    border-bottom: 10px solid #41485c;
    border-left: 4px solid #2f374d;
    width: fit-content;
    max-width: 300px;
    height: fit-content;
    border-radius: 10px;
    background-color: #232a3e;
    -webkit-box-shadow: 0px 0px 27px 2px rgba(67,68,97,1);
    -moz-box-shadow: 0px 0px 27px 2px rgba(67,68,97,1);
    box-shadow: 0px 0px 27px 2px rgba(67,68,97,1);
}

.window {
    height: 80px;
    width: auto;
}

.result-window {
    display: block;
    width: inherit;
    height: inherit;
    border: 2px solid #ff2842;
    margin: 10px 20px 10px 20px;
    padding: 10px;
    background-color: #eff0f2;
    color: #201e2a;
    letter-spacing: 2px;
    font-size: x-large;
    overflow: hidden;
    overflow-wrap: break-word;   
    -moz-box-shadow:    inset 0 0 10px #000000;
    -webkit-box-shadow: inset 0 0 10px #000000;
    box-shadow:         inset 0 0 10px #000000; 
}

.buttons {
    margin-top: 30px;
    align-content: center;
    justify-content: center;
    width: inherit;
    height: inherit;
    display: grid;
    grid-template-columns: 50px 50px 50px 50px;
    grid-template-rows: 50px 50px 50px 50px 50px;
    gap: 20px;
    padding: 20px;
}

.button, .special {
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 100px;
    outline: none;
    background-color: #eff0f2;
    color: #ff2842;
    font-weight: 700;
    border: none;
    -moz-box-shadow:    inset 0 0 5px #000000;
    -webkit-box-shadow: inset 0 0 5px #000000;
    box-shadow:         inset 0 0 5px #000000; 
}   

.button:active, .special:active {
    -moz-box-shadow:    inset 0 0 8px #000000;
    -webkit-box-shadow: inset 0 0 8px #000000;
    box-shadow:         inset 0 0 8px #000000; 
    border: 1px solid #232A3E;

}

.answer {
    width: 120px;
    border-radius: 100px;
    outline: none;
    background-color: #eff0f2;
    color: #ff2842;
}

.backspace {
    height: 20px;
    width: 20px;
}

#AC {
    background-color: #ff2842;
    color: #201e2a;
}

.special:focus {
    background-color: orange;
}


@media only screen and (max-width: 760px) {
    body {
        margin-top: 20%;
    }

}
